baseURL = 'https://blog.maxfrancis.me/'
languageCode = 'en-us'
title = 'Maxwell Francis'
themesDir = 'themes'
theme = "archie"
[caches]
  [caches.images]
    dir = ':cacheDir/images'
[[menu.main]]
name = "Blog"
url = "/"
weight = 1

[[menu.main]]
name = "About"
url = "/about/"
weight = 2
